*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html{ 
    position: relative;
    min-height: 100%;
    overflow-y:scroll;
    margin: 0;
}
h2.progtitle{
padding: 5px;
}
h1 { font-family: "Open Sans"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Open Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Open Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Open Sans"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Open Sans"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
h2{
   text-align: center;
}
body {
    font-family: "Open Sans";
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
    color: #404040;
    margin: 0;
}
.contentwrap{
padding-bottom: 138px;
}
.prom{
    display: block;
    align-self: center;
    margin: auto;
     max-width: 700px;
    padding-top: 2%;
}
.innertext{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner{
margin-top: 200px;
}
.intro{
max-width: 250px;
    text-align: center;
    margin: auto;
    display: block;
}
.contactus{
 align-self: center;
    margin: auto;
      text-decoration: none;
  text-align: center;
  color: rgb(255,255,255)!important;
  background-color:black;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 100px;
}
.contactus:hover {
  color: rgb(255,80,1);
  background-color:white;
}
.textblock{ 
    max-width: 700px;
    align-self: center;
    margin: auto
}
.ourprogramms.inner{
  margin-left: auto;
  margin-right: auto;
  
  max-width: 1400px;
    height: 100%;
}
.parallax {
 
   background-image: linear-gradient(rgba(255,80,1,0.8),rgba(255,80,1,0.8)),url(../images/kung.jpg);
    background-size: auto,cover;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    height: 100vh; 
   
}
.parallax2 {
background-image: linear-gradient(rgba(247,247,247,0.8),rgba(247,247,247,0.8)),url(../images/kung.jpg);
   background-size: auto,cover;
    
    background-attachment: fixed;
}
.theme{
    background-image: linear-gradient(rgba(255,80,1,0.8),rgba(255,80,1,0.8)),url(../images/kung.jpg);
    background-size: auto,cover;
    background-position: 0% 0%;
}
.protitle{
padding: 150px 0 150px 0;
      text-align: center;
    margin: auto;
    display: block;
      color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px
}
.programmimg{
width:  100%
}
nav{
  display: block;

}
.navwrap2.abs{
   position: absolute;
  display: block;
    top: 0;
    left: 0;
    right: 0;
     background-color: #ff5001; 
}
.navwrap2.sticky{
 width: 100%;
           
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
   position: fixed;
  top: 0;
    z-index: 999;
}
.programms{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.programm{
    padding: 10px;
border: 3px solid;
 max-width: 250px;  
    word-wrap: break-word;
}

.navwrap {
    height: 120px;
  justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
 text-align: center;
 
 position: relative;
 
    max-width: 1400px; 
  margin-left: auto;
  margin-right: auto;
}
.navi{
    
}
.dropdown li a:hover, .dropdown:hover .dropbtn {
  background-color: white;
    color: rgb(255,80,1)
}
.dropdown li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-property: background-color,color,border-color;
}


li.dropdown {
  display: inline-block;
    
}

.dropdown-content {
    margin-top: 5px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
border-radius: 20px;
    box-shadow: 0 10px 20px #999;
    
}

.dropdown-content a {
  color: rgb(255,80,1)!important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.navwrap .logo {
   display: inline-block;
  position: relative;
  
}

.navwrap .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
 
  
}

.navwrap .liwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 0 0 10px;
  
}

.navwrap .liwrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
      
}
.navwrap .liwrap ul li{
padding: 5px;
 
}

.navwrap .liwrap ul li a {
  text-decoration: none;
  color: white;
  
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 100px;
}

.navwrap .liwrap ul li a:hover {
  color: rgb(255,80,1);
  background-color:white;
}
.active{
  color: rgb(255,80,1)!important;
  background-color:white;
    
}
.navwrap .liwrap ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.navwrap .liwrap ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.navwrap .liwrap .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.navwrap .liwrap .icon-bar i {
  background-color: #ffffff;
  height: 2px;
}

@media only screen and (max-width: 1310px) {
    .prom{
    width: 100%;
    }
  .navwrap {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    left: 0%;
     z-index: 100;
  }
    .parallax{
    background-image: linear-gradient(rgba(255,80,1,0.8),rgba(255,80,1,0.8)),url(../images/kungs.jpg);
    }
  .navwrap .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
   margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  .navwrap .liwrap {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .navwrap .liwrap ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
      justify-content: space-around;
  }

  .navwrap .liwrap ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
  }

  .navwrap .liwrap ul .close {
    display: block;
  }

  .navwrap .liwrap .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
  }

  .navwrap .liwrap ._Menus-show {
    left: 0;
  }
}
.ourclub{
width: 100%;
    background-color: white;
    padding: 5px;
}

table{
display: block;
}
/*footer*/
footer{
    display: block;
 position:absolute;
    right: 0;
    left: 0;
    bottom: 0;
  padding:5px;
  background-color: #efefef;
  text-align: center;
    overflow: hidden;
    background-color: rgb(230, 230, 230);
    /*background:RGB( 46, 47, 47);*/
    z-index: 10;
    margin:0; 
  flex-grow: 1;
}
.footerwrap{
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

footer a, .sitemap, footer p{
    float: left;
    color: #ff8040;
    padding-right: 10px;
    text-decoration: none;
    font-size: 17px;
    
}
footer li{
    list-style-type: none;
     text-align: center;
}
.map2{
    padding: 20px;
}
.sitemap{
    font-size: 1.5em;
}
footer a:hover{
    color:  #ff5500;
    text-decoration: underline;
}
footer a:active{
    color:  #802b00;
    text-decoration: underline;
}
.finfo{
    display: inline-block;
    text-align: left;
}
/*footer*/